#main > .container {
  min-width: 400px;
}
  #main > .container:after {
    height: 15px;
  }

#posts article { 
  width: 100%;
}
  #posts article footer .tags button {
      margin-right: 5px;
  }

#post-add{ 
  width: 100%;
}
